.bg-black{
    background-color: black;
}
 
img{
    width: 100%;
    height: 100%;
}

.font-div{
   Width: 30%;
   padding: 16px 32;
}

.btn{
    color: beige;
}

button.button-front{
    color: white;
}

.button-front{
    color: black;
}

.button-front:hover{  
    color: yellow;
}

.dropdown-menu a{
    padding: 6%;
    text-align: center;
    display: inline;
}

.download-btn{
    color: wheat;
}

@media only screen and (min-width: 768px){
        .font-div{
            padding: 44px 0px!important;
            width: 30%;
        }
}

@media only screen and (min-width: 768px){
        .button-front{
            display: block;
            position: relative;
        }
}